* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

:root {
    --bgcolor: #D1CCDC;
    --btncolor: #DD7B2A;
    --bgconvertor: #F5EDF0;
    --textcolor: #2C2B31;
}

.dark {
    --textcolor: #D6D6D6;
    --bgcolor: #1E1D20;
    --btncolor: #DD7B2A;
    --bgconvertor: #2E1E61;
}

body {
    background-color: var(--bgcolor);
    color: var(--textcolor);
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.convertor {
    width: 50vw;
    height: 52vh;
    padding-top: 20px;
    position: absolute;
    color: var(--textcolor);
    background-color: var(--bgconvertor);
    top: 50%;
    padding-bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#exchangeRate{

}
#amount {
    display: block;
    width: 80%;
    background-color: var(--bgconvertor);
    margin: 0 auto;
    height: 50px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 1.5rem;
    padding-left: 5px;
    color: var(--textcolor);
    margin-top: 5px;
}

.selectors,
.labels {
    width: 80%;
    margin: 0px auto;
    display: flex;
    background-color: var(--bgconvertor);
    justify-content: space-between;
}

.labels {
    margin-top: 10%;
}

#selector,
#selector2 {
    width: 60px;
    height: 35px;
    cursor: pointer;
    color: var(--textcolor);
    border: none;
    background-color: var(--bgconvertor);
    font-size: 1em;
}

#from-div {
    width: 96px;
    display: flex;
    background-color: var(--bgconvertor);
}

#label-to {
    margin-right: 80px;
    margin-bottom: 10px;
    background-color: var(--bgconvertor);
}

button {
    display: block;
    width: 60%;
    margin: 7% auto;
    font-weight: bold;
    height: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--textcolor);
    background-color: var(--btncolor);
}

#label-amount {
    margin-left: 10%;
    margin-top: 40px;
    background-color: var(--bgconvertor);
    margin-bottom: 40px;
}

#inp2 {
    width: 30%;
    text-align: center;
    height: 40px;
    margin: 0% auto 10px;
    background-color: var(--bgconvertor);
    display: block;
    color: var(--textcolor);
    border: 1px solid gray;
    font-size: 1.5rem;

}

i{
    cursor: pointer;
}

footer {
    bottom: 0%;
    position: absolute;
    width: 100%;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #DD7B2A;
}

#checkbox {
    display: none;
}

.toggle-switch {
    display: flex;
    justify-content: center;
    align-items: center;

}

#logo {
    height: 170px;
    width: 200px;
    background-color: var(--bgcolor);
    margin: 10px;
}

span i {
    background-color: var(--bgcolor);
    font-size: 2rem;
    margin-right: 10px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .convertor {
        width: 95vw;
        
    }
    #logo {
        height: 80px;
        width: 100px;
    }
    span i{
        font-size: 1.5rem;
    }
 }
 @media only screen and (min-device-width: 481px) and (max-device-width: 1024px)  {
    /* default iPad screens */
    .convertor {
        width: 75vw;
        height: 42vh;
    }
    #logo {
        height: 100px;
        width: 120px;
    }
 }